<div clas="container">
	<nav class="navbar navbar-default navbar-top">
		<div class="row toprow">
			<div class="col-sm-3">
				<a href="https://github.com/buddylove954"><%= image_tag "logo.jpg", class: "image" %></a>
			</div>
			<div class="col-sm-9">
				<ul class="list-unstyled list-inline topbar">
					<li><a href="">HOME</a></li>
					<li><a href="">PORTFOLIO</a></li>
					<li><a href="">ABOUT</a></li>
					<li><a href="">RESUME</a></li>
					<li CLASS="contact"><a href="">CONTACT</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="row rubybar">
			<div class="backcolor">
		<div class="col-sm-3"></div>
		<div class="col-sm-6">
			<ul class="list-unstyled list-inline social">
				<li><a href="https://www.linkedin.com/profile/view?id=191348247&trk=nav_responsive_tab_profile_pic"><%= image_tag "linked.png", class: "image2" %></a></li>
				<li><a href="https://github.com/buddylove954"><%= image_tag "github.png", class: "image2" %></a></li>
				<li><a href="https://www.facebook.com/wlove29"><%= image_tag "facebook.png", class: "image2" %></a></li>
				<li><a href="https://twitter.com/buddylove954/"><%= image_tag "twitter_bird.png", class: "image2" %></a></li>
				<li><a href=""><%= image_tag "mail2.png", class: "image2" %></a></li>
			</ul>
			<h1 class="ruby">Will Love</h1>
			<h3 class="back"><em>Back-end developer with a strong passion for</em></h3>
			<h3 class="back"><em>Ruby on Rails</em></h3>
		</div>
		<div class="col-sm-3"></div>
			</div>
	</div>
</div>
	<div class="container">
		<div class="row">
						<div class="col-sm-3"><%= image_tag "will.jpg", class: "will" %></div>
							<div class="col-sm-6">
								<h2 class="secondhead">A brief summary</h2>
								<p class="paras">I am a recent graduate from the Ironhack bootcamp. My interest in web developement intially gained steam from my passion of gaming. I have an emphasis on TDD, as well as writing clean code. My hobbies consist of gaming(Hearthstone, League of Legends), playing basketball and figuring out new travel destinations.</p>
							</div>
						<div class="col-sm-3"></div>
					</div>
	</div>